<!DOCTYPE html>
<html>

    <head>
        <title>Flask Tutorial</title>
        {% include 'nav.html' %}
    </head>

    <body>
        
        <div style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;">
            <h5>About Page
                <div>Users can sign up in the <a class="nav-link" href="login_View" style="color: goldenrod">Sign Up</a> page
                    <div>This will add them to the <a class="nav-link" href="user_View" style="color: goldenrod">User</a> page
                        <div>In here, the coordinators can approve users, mark them as non-pending and assign them as contributors</div>
                    </div>
                </div>
            </h3>   
        </div>
    </body>

</html>