<!DOCTYPE html>
<html>

    <head>
        <title>Flask Tutorial</title>
        {% include 'nav.html' %}
    </head>

    <body>




            <div style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;">


 <h5>Select Preferences:</h5>

<select name="preferences" id="preferences">
  <option value ="Placement1">Placement1</option>
  <option value="Placement2">Placement2</option>
  <option value="Placement3">Placement3</option>
  <option value="Placement4">Placement4</option>
</select></h3>
                <select name="preferences" id="preferences">
  <option value="Placement1">Placement1</option>
  <option value="Placement2">Placement2</option>
  <option value="Placement3">Placement3</option>
  <option value="Placement4">Placement4</option>
</select></h3>
                <select name="preferences" id="preferences">
  <option value="Placement1">Placement1</option>
  <option value="Placement2">Placement2</option>
  <option value="Placement3">Placement3</option>
  <option value="Placement4">Placement4</option>
</select></h3>
        </div>

    </body>

</html>