<!DOCTYPE html>
<html>

    <head>
        <title>View Jobs Tutorial</title>
        {% include 'nav.html' %}
    </head>

    <body>
        
        <div style="display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;">
            <h5>Placements</h3>
        </div>
        
        <div id="table">
            <table class="table" id="tbl">
              <thead style="background-color: #070707; color: white">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Skills</th>
                  <th scope="col">Company</th>
                  <th scope="col">Address</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telephone</th>
                </tr>
              </thead>
              <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
                <!-- first-row -->
                {% for row in data %}
                <tr>
                  <td>{{ row["PTitle"] }}</td>
                  <td>{{ row["PDesc"] }}</td>
                  <td>{{ row["PSkills"] }}</td>
                  <td>{{ row["Company_Name"] }}</td>
                  <td>{{ row["Address"] }}</td>
                  <td>{{ row["Email"] }}</td>
                  <td>{{ row["Tel"] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </body>

</html>